<ActionBar title="NSYelpApi Demo" icon="" class="action-bar">
</ActionBar>

<ScrollView>
  <StackLayout>
    <Button text="Search by Phone" class="btn btn-primary" (tap)="searchByPhone()"></Button>
    <Button text="Search by Id" class="btn btn-primary" (tap)="searchById()"></Button>
    <Button text="Search by Location" class="btn btn-primary" (tap)="searchByLocation()"></Button>
    <Button text="Reviews by Id" class="btn btn-primary" (tap)="reviewsById()"></Button>
  </StackLayout>
</ScrollView>
